<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>book List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Книги</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:utext="${book.id}">...</td>
            <td th:utext="${book.name}">...</td>
            <td th:utext="${book.author.name}+${book.author.surname}">...</td>
            <td th:utext="${book.genre.name}">...</td>
            <td><a th:href="@{/book/update/{id}(id=${book.id})}" class="btn btn-danger">Update</a></td>
            <td><a th:href="@{/book/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>